---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/akerl/targit/releases?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4946'
      X-Ratelimit-Reset:
      - '1580804477'
      X-Oauth-Scopes:
      - read:org, read:user, repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/akerl/targit/releases/23363537","assets_url":"https://api.github.com/repos/akerl/targit/releases/23363537/assets","upload_url":"https://uploads.github.com/repos/akerl/targit/releases/23363537/assets{?name,label}","html_url":"https://github.com/akerl/targit/releases/tag/more_testing","id":23363537,"node_id":"MDc6UmVsZWFzZTIzMzYzNTM3","tag_name":"more_testing","target_commitish":"master","name":null,"draft":false,"author":{"login":"akerl","id":491209,"node_id":"MDQ6VXNlcjQ5MTIwOQ==","avatar_url":"https://avatars0.githubusercontent.com/u/491209?v=4","gravatar_id":"","url":"https://api.github.com/users/akerl","html_url":"https://github.com/akerl","followers_url":"https://api.github.com/users/akerl/followers","following_url":"https://api.github.com/users/akerl/following{/other_user}","gists_url":"https://api.github.com/users/akerl/gists{/gist_id}","starred_url":"https://api.github.com/users/akerl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/akerl/subscriptions","organizations_url":"https://api.github.com/users/akerl/orgs","repos_url":"https://api.github.com/users/akerl/repos","events_url":"https://api.github.com/users/akerl/events{/privacy}","received_events_url":"https://api.github.com/users/akerl/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2019-10-31T18:56:45Z","published_at":"2020-02-04T07:23:35Z","assets":[],"tarball_url":"https://api.github.com/repos/akerl/targit/tarball/more_testing","zipball_url":"https://api.github.com/repos/akerl/targit/zipball/more_testing","body":null},{"url":"https://api.github.com/repos/akerl/targit/releases/23363520","assets_url":"https://api.github.com/repos/akerl/targit/releases/23363520/assets","upload_url":"https://uploads.github.com/repos/akerl/targit/releases/23363520/assets{?name,label}","html_url":"https://github.com/akerl/targit/releases/tag/testing","id":23363520,"node_id":"MDc6UmVsZWFzZTIzMzYzNTIw","tag_name":"testing","target_commitish":"master","name"[...]
- request:
    method: post
    uri: https://api.github.com/repos/akerl/targit/releases
    body:
      encoding: UTF-8
      string: '{"tag_name":"meta_testing"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4945'
      X-Ratelimit-Reset:
      - '1580804477'
      X-Oauth-Scopes:
      - read:org, read:user, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/akerl/targit/releases/23363538
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/akerl/targit/releases/23363538","assets_url":"https://api.github.com/repos/akerl/targit/releases/23363538/assets","upload_url":"https://uploads.github.com/repos/akerl/targit/releases/23363538/assets{?name,label}","html_url":"https://github.com/akerl/targit/releases/tag/meta_testing","id":23363538,"node_[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/akerl/targit/releases/23363538
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4943'
      X-Ratelimit-Reset:
      - '1580804477'
      Last-Modified:
      - Tue, 04 Feb 2020 07:23:41 GMT
      X-Oauth-Scopes:
      - read:org, read:user, repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/akerl/targit/releases/23363538","assets_url":"https://api.github.com/repos/akerl/targit/releases/23363538/assets","upload_url":"https://uploads.github.com/repos/akerl/targit/releases/23363538/assets{?name,label}","[...]
- request:
    method: get
    uri: https://api.github.com/repos/akerl/targit/releases/23363538/assets?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4942'
      X-Ratelimit-Reset:
      - '1580804477'
      X-Oauth-Scopes:
      - read:org, read:user, repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 04 Feb 2020 07:23:42 GMT
[...]
- request:
    method: post
    uri: https://uploads.github.com/repos/akerl/targit/releases/23363538/assets?name=beta
    body:
      encoding: ASCII-8BIT
      string: 'hello world

'
    headers:
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 04 Feb 2020 07:23:42 GMT
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Oauth-Scopes:
      - read:org, read:user, repo
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/akerl/targit/releases/assets/17779578","id":17779578,"node_id":"MDEyOlJlbGVhc2VBc3NldDE3Nzc5NTc4","name":"beta","label":"","uploader":{"login":"akerl","id":491209,"node_id":"MDQ6VXNlcjQ5MTIwOQ==","avatar_url":"https://avatars0.githubusercontent.com/u/491209?v=4","gravatar_id":"","url":"https://api.github.com/users/akerl","html_url":"https://github.com/akerl","followers_url":"https://api.github.com/users/akerl/followers","following_url":"https://api.github.com/users/akerl/following{/other_user}","gists_url":"https://api.github.com/users/akerl/gists{/gist_id}","starred_url":"https://api.github.com/users/akerl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/akerl/subscriptions","organizations_url":"https://api.github.com/users/akerl/orgs","repos_url":"https://api.github.com/users/akerl/repos","events_url":"https://api.github.com/users/akerl/events{/privacy}","received_events_url":"https://api.github.com/users/akerl/received_events","type":"User","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":12,"download_count":0,"created_at":"2020-02-04T07:23:42Z","updated_at":"2020-02-04T07:23:42Z","browser_download_url":"https://github.com/akerl/targit/releases/download/meta_testing/beta"}'
  recorded_at: Tue, 04 Feb 2020 07:23:42 GMT
- request:
    method: get
    uri: https://api.github.com/repos/akerl/targit/releases/assets/17779578
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4938'
      X-Ratelimit-Reset:
      - '158080447[...]
[...]
