---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/akerl/targit/releases?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4356'
      X-Ratelimit-Reset:
      - '1405206221'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/akerl/targit/releases/426210","assets_url":"https://api.github.com/repos/akerl/targit/releases/426210/assets","upload_url":"https://uploads.github.com/repos/akerl/targit/releases/426210/assets{?name}","html_url":"https://github.com/akerl/targit/releases/tag/meta_testing","id":426210,"tag_name":"meta_testing","target_commitish":"master","name":null,"draft":false,"author":{"login":"akerl","id":491209,"avatar_url":"https://avatars.githubusercontent.com/u/491209?","gravatar_id":"819691dc5c197c042ccd16b894545673","url":"https://api.github.com/users/akerl","html_url":"https://github.com/akerl","followers_url":"https://api.github.com/users/akerl/followers","following_url":"https://api.github.com/users/akerl/following{/other_user}","gists_url":"https://api.github.com/users/akerl/gists{/gist_id}","starred_url":"https://api.github.com/users/akerl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/akerl/subscriptions","organizations_url":"https://api.github.com/users/akerl/orgs","repos_url":"https://api.github.com/users/akerl/repos","events_url":"https://api.github.com/users/akerl/events{/privacy}","received_events_url":"https://api.github.com/users/akerl/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2014-07-12T20:38:20Z","published_at":"2014-07-12T22:37:16Z","assets":[{"url":"https://api.github.com/repos/akerl/targit/releases/assets/182359","id":182359,"name":"beta","label":null,"uploader":{"login":"akerl","id":491209,"avatar_url":"https://avatars.githubusercontent.com/u/491209?","gravatar_id":"819691dc5c197c042ccd16b894545673","url":"https://api.github.com/users/akerl","html_url":"https://github.com/akerl","followers_url":"https://api.github.com/users/akerl/followers","following_url":"https://api.github.com/users/akerl/following{/other_user}","gists_url":"https://api.github.com/users/akerl/gists{/gist_id}","starred_url":"https://api.github.com/users/akerl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/akerl/subscriptions","organizations_url":"https://api.github.com/users/akerl/orgs","repos_url":"https://api.github.com/users/akerl/repos","events_url":"https://api.github.com/users/akerl/events{/privacy}","received_events_url":"https://api.github.com/users/akerl/received_events","type":"User","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":12,"download_count":0,"created_at":"2014-07-12T22:37:17Z","updated_at":"2014-07-12T22:37:17Z","browser_download_url":"https://github.com/akerl/targit/releases/download/meta_testing/beta"}],"tarball_url":"https://api.github.com/repos/akerl/targit/tarball/meta_testing","zipball_url":"https://api.github.com/repos/akerl/targit/zipball/meta_testing","body":null},{"url":"https://api.github.com/repos/akerl/targit/releases/426209","assets_url":"https://api.github.com/repos/akerl/targit/releases/426209/assets","upload_url":"https://uploads.github.com/repos/akerl/targit/releases/426209/assets{?name}","html_url":"https://github.com/akerl/targit/releases/tag/more_testing","id":426209,"tag_name":"more_testing","target_commitish":"master","name":null,"draft":false,"author":{"login":"ak[...]
- request:
    method: post
    uri: https://api.github.com/repos/akerl/targit/releases
    body:
      encoding: UTF-8
      string: '{"tag_name":"new_release"}'
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4355'
      X-Ratelimit-Reset:
      - '1405206221'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/akerl/targit/releases/426211
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/akerl/targit/releases/426211","assets_url":"https://api.github.com/repos/akerl/targit/releases/426211/assets","upload_url":"https://uploads.github.com/repos/akerl/targit/releases/426211/assets{?name}","html_url":"https://github.com/akerl/targit/releases/tag/new_release","id":426211,"tag_name":"new_release[...]
[...]
