---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/akerl/targit/releases?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4444'
      X-Ratelimit-Reset:
      - '1405206221'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/akerl/targit/releases/426209","assets_url":"https://api.github.com/repos/akerl/targit/releases/426209/assets","upload_url":"https://uploads.github.com/repos/akerl/targit/releases/426209/assets{?name}","html_url":"https://github.com/akerl/targit/releases/tag/more_testing","id":426209,"tag_name":"more_testing","target_commitish":"master","name":null,"draft":false,"author":{"login":"akerl","id":491209,"avatar_url":"https://avatars.githubusercontent.com/u/491209?","gravatar_id":"819691dc5c197c042ccd16b894545673","url":"https://api.github.com/users/akerl","html_url":"https://github.com/akerl","followers_url":"https://api.github.com/users/akerl/followers","following_url":"https://api.github.com/users/akerl/following{/other_user}","gists_url":"https://api.github.com/users/akerl/gists{/gist_id}","starred_url":"https://api.github.com/users/akerl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/akerl/subscriptions","organizations_url":"https://api.github.com/users/akerl/orgs","repos_url":"https://api.github.com/users/akerl/repos","events_url":"https://api.github.com/users/akerl/events{/privacy}","received_events_url":"https://api.github.com/users/akerl/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2014-07-12T20:38:20Z","published_at":"2014-07-12T22:37:07Z","assets":[],"tarball_url":"https://api.github.com/repos/akerl/targit/tarball/more_testing","zipball_url":"https://api.github.com/repos/akerl/targit/zipball/more_testing","body":null},{"url":"https://api.github.com/repos/akerl/targit/releases/426208","assets_url":"https://api.github.com/repos/akerl/targit/releases/426208/assets","upload_url":"https://uploads.github.com/repos/akerl/targit/releases/426208/assets{?name}","html_url":"https://github.com/akerl/targit/releases/tag/testing","id":426208,"tag_name":"testing","target_commitish":"master","name":null,"draft":false,"author":{"login":"akerl","id":[...]
- request:
    method: get
    uri: https://api.github.com/repos/akerl/targit/releases/426208
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4443'
      X-Ratelimit-Reset:
      - '1405206221'
      Last-Modified:
      - Sat, 12 Jul 2014 22:37:06 GMT
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/akerl/targit/releases/426208","assets_url":"https://api.github.com/repos/akerl/targit/releases/426208/assets","upload_url":"https://uploads.github.com/repos/akerl/targit/releases/426208/assets{?name}","html_url":"https://github.com/ake[...]
- request:
    method: get
    uri: https://api.github.com/repos/akerl/targit/releases/426208/assets?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4442'
      X-Ratelimit-Reset:
      - '1405206221'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/21316764/releases/426208/assets?per_page=100&page=0>;
        rel="last"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 12 Jul 2014 22:37:06 GMT
[...]
- request:
    method: post
    uri: https://uploads.github.com/repos/akerl/targit/releases/426208/assets?name=beta
    body:
      encoding: ASCII-8BIT
      string: |
        hello world
    headers:
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 12 Jul 2014 22:37:09 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Oauth-Scopes:
      - public_repo
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/akerl/targit/releases/assets/182357","id":182357,"name":"beta","label":null,"uploader":{"login":"akerl","id":491209,"avatar_url":"https://avatars.githubusercontent.com/u/491209?","gravatar_id":"819691dc5c197c042ccd16b894545673","url":"https://api.github.com/users/akerl","html_url":"https://github.com/akerl","followers_url":"https://api.github.com/users/akerl/followers","following_url":"https://api.github.com/users/akerl/following{/other_user}","gists_url":"https://api.github.com/users/akerl/gists{/gist_id}","starred_url":"https://api.github.com/users/akerl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/akerl/subscriptions","organizations_url":"https://api.github.com/users/akerl/orgs","repos_url":"https://api.github.com/users/akerl/repos","events_url":"https://api.github.com/users/akerl/events{/privacy}","received_events_url":"https://api.github.com/users/akerl/received_events","type":"User","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":12,"download_count":0,"created_at":"2014-07-12T22:37:09Z","updated_at":"2014-07-12T22:37:09Z","browser_download_url":"https://github.com/akerl/targit/releases/download/testing/beta"}'
  recorded_at: Sat, 12 Jul 2014 22:37:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/akerl/targit/releases/assets/182357
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4434'
      X-Ratelimit-Reset:
      - '1405206221'
      Last-Modified:
      - Sat, 12 Jul 201[...]
[...]
