---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/akerl/targit/releases?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4904'
      X-Ratelimit-Reset:
      - '1580804477'
      X-Oauth-Scopes:
      - read:org, read:user, repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/akerl/targit/releases/1980148","assets_url":"https://api.github.com/repos/akerl/targit/releases/1980148/assets","upload_url":"https://uploads.github.com/repos/akerl/targit/releases/1980148/assets{?name,label}","html_url":"https://github.com/akerl/targit/releases/tag/1.1.0","id":1980148,"node_id":"MDc6UmVsZWFzZTE5ODAxNDg=","tag_name":"1.1.0","target_commitish":"master","name":null,"draft":false,"author":{"login":"akerl","id":491209,"node_id":"MDQ6VXNlcjQ5MTIwOQ==","avatar_url":"https://avatars0.githubusercontent.com/u/491209?v=4","gravatar_id":"","url":"https://api.github.com/users/akerl","html_url":"https://github.com/akerl","followers_url":"https://api.github.com/users/akerl/followers","following_url":"https://api.github.com/users/akerl/following{/other_user}","gists_url":"https://api.github.com/users/akerl/gists{/gist_id}","starred_url":"https://api.github.com/users/akerl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/akerl/subscriptions","organizations_url":"https://api.github.com/users/akerl/orgs","repos_url":"https://api.github.com/users/akerl/repos","events_url":"https://api.github.com/users/akerl/events{/privacy}","received_events_url":"https://api.github.com/users/akerl/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2015-10-14T02:33:04Z","published_at":"2015-10-19T05:15:22Z","assets":[],"tarball_url":"https://api.github.com/repos/akerl/targit/tarball/1.1.0","zipball_url":"https://api.github.com/repos/akerl/targit/zipball/1.1.0","body":null}]'
  recorded_at: Tue, 04 Feb 2020 07:34:35 GMT
- request:
    method: post
    uri: https://api.github.com/repos/akerl/targit/releases
    body:
      encoding: UTF-8
      string: '{"name":"special","tag_name":"new_release"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4903'
      X-Ratelimit-Reset:
      - '1580804476'
      X-Oauth-Scopes:
      - read:org, read:user, repo
      X-Accepted-Oauth-Scopes:
      - repo
      Location:
      - https://api.github.com/repos/akerl/targit/releases/23363708
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/akerl/targit/releases/23363708","assets_url":"https://api.github.com/repos/akerl/targit/releases/23363708/assets","upload_url":"https://uploads.github.com/repos/akerl/targit/releases/23363708/assets{?name,label}","html_url":"https://github.com/akerl/targit/releases/tag/new_release","id":23363708,"node_i[...]
[...]
