---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/akerl/targit/releases?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1405197827'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/akerl/targit/releases/425922","assets_url":"https://api.github.com/repos/akerl/targit/releases/425922/assets","upload_url":"https://uploads.github.com/repos/akerl/targit/releases/425922/assets{?name}","html_url":"https://github.com/akerl/targit/releases/tag/testing","id":425922,"tag_name":"testing","target_commitish":"master","name":"Testing","draft":false,"author":{"login":"akerl","id":491209,"avatar_url":"https://avatars.githubusercontent.com/u/491209?","gravatar_id":"819691dc5c197c042ccd16b894545673","url":"https://api.github.com/users/akerl","html_url":"https://github.com/akerl","followers_url":"https://api.github.com/users/akerl/followers","following_url":"https://api.github.com/users/akerl/following{/other_user}","gists_url":"https://api.github.com/users/akerl/gists{/gist_id}","starred_url":"https://api.github.com/users/akerl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/akerl/subscriptions","organizations_url":"https://api.github.com/users/akerl/orgs","repos_url":"https://api.github.com/users/akerl/repos","events_url":"https://api.github.com/users/akerl/events{/privacy}","received_events_url":"https://api.github.com/users/akerl/received_events","type":"User","site_admin":false},"prerelease":true,"created_at":"2014-07-12T15:35:36Z","published_at":"2014-07-12T16:03:09Z","assets":[],"tarball_url":"https://api.github.com/repos/akerl/targit/tarball/testing","zipball_url":"https://api.github.com/repos/akerl/targit/zipball/testing","body":""}]'
  recorded_at: Sat, 12 Jul 2014 20:25:42 GMT
- request:
    method: get
    uri: https://api.github.com/repos/akerl/targit/releases/425922
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1405197827'
      Last-Modified:
      - Sat, 12 Jul 2014 16:03:09 GMT
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/akerl/targit/releases/425922","assets_url":"https://api.github.com/repos/akerl/targit/releases/425922/assets","upload_url":"https://uploads.github.com/repos/akerl/targit/releases/425922/assets{?name}","html_url":"https://github.com/ake[...]
- request:
    method: get
    uri: https://api.github.com/repos/akerl/targit/releases/425922/assets?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1405197827'
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/21316764/releases/425922/assets?per_page=100&page=0>;
        rel="last"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 12 Jul 2014 20:25:43 GMT
[...]
- request:
    method: post
    uri: https://uploads.github.com/repos/akerl/targit/releases/425922/assets?name=beta
    body:
      encoding: ASCII-8BIT
      string: |
        hello world
    headers:
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 12 Jul 2014 20:25:45 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Oauth-Scopes:
      - public_repo
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/akerl/targit/releases/assets/182280","id":182280,"name":"beta","label":null,"uploader":{"login":"akerl","id":491209,"avatar_url":"https://avatars.githubusercontent.com/u/491209?","gravatar_id":"819691dc5c197c042ccd16b894545673","url":"https://api.github.com/users/akerl","html_url":"https://github.com/akerl","followers_url":"https://api.github.com/users/akerl/followers","following_url":"https://api.github.com/users/akerl/following{/other_user}","gists_url":"https://api.github.com/users/akerl/gists{/gist_id}","starred_url":"https://api.github.com/users/akerl/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/akerl/subscriptions","organizations_url":"https://api.github.com/users/akerl/orgs","repos_url":"https://api.github.com/users/akerl/repos","events_url":"https://api.github.com/users/akerl/events{/privacy}","received_events_url":"https://api.github.com/users/akerl/received_events","type":"User","site_admin":false},"content_type":"application/octet-stream","state":"uploaded","size":12,"download_count":0,"created_at":"2014-07-12T20:25:45Z","updated_at":"2014-07-12T20:25:45Z","browser_download_url":"https://github.com/akerl/targit/releases/download/testing/beta"}'
  recorded_at: Sat, 12 Jul 2014 20:25:44 GMT
- request:
    method: get
    uri: https://api.github.com/repos/akerl/targit/releases/assets/182280
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1405197827'
      Last-Modified:
      - Sat, 12 Jul 201[...]
[...]
